# EDA_part01

# 1. Dataset in Drive Cloud - csv

## 1.1 Data preparation with csv in Cloud

In [9]:
EDA_part01 = pd.read_csv('/content/drive/My Drive/<your file path>')
EDA_part01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 191535 entries, 0 to 191534
Data columns (total 30 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   siteindex           191535 non-null  float64
 1   aspect              191535 non-null  float64
 2   planCurvature       191535 non-null  float64
 3   profileCurvature    191535 non-null  float64
 4   slope               191535 non-null  float64
 5   TPI                 191535 non-null  float64
 6   TWI_SAGA            191535 non-null  float64
 7   catchmentArea_SAGA  191535 non-null  float64
 8   SVF_simplified      191535 non-null  float64
 9   Gh_total            191535 non-null  float64
 10  Dh_diffuse          191535 non-null  float64
 11  Ih_direct           191535 non-null  float64
 12  DEMpart01_10m       191535 non-null  float64
 13  distFromCoast       191535 non-null  float64
 14  meanJanRain         191535 non-null  float64
 15  meanJulRain         191535 non-null  float64
 16  maxJanTemp          191535 non-null  float64
 17  minJulTemp          191535 non-null  float64
 18  BDw                 191535 non-null  float64
 19  CLY                 191535 non-null  float64
 20  CFG                 191535 non-null  float64
 21  ECD                 191535 non-null  float64
 22  SOC                 191535 non-null  float64
 23  pHw                 191535 non-null  float64
 24  SND                 191535 non-null  float64
 25  SLT                 191535 non-null  float64
 26  RCODE               191535 non-null  int64
 27  SYMBOL              191535 non-null  object
 28  DESCRIPT            191535 non-null  object
 29  soil_order          191535 non-null  object
dtypes: float64(26), int64(1), object(3)
memory usage: 43.8+ MB

## 1.2 Data exploration

In [10]:
#print summary of data
EDA_part01.describe()

           siteindex         aspect  ...            SLT          RCODE
count  191535.000000  191535.000000  ...  191535.000000  191535.000000
mean       30.859954     176.311762  ...      17.896682    4429.032866
std         3.494284     100.367764  ...       7.135462    1227.508855
min         4.968135       0.468776  ...       0.000000    3489.000000
25%        28.701300      86.998100  ...      12.618612    3987.000000
50%        31.086996     184.070348  ...      17.808460    3987.000000
75%        33.351924     258.729503  ...      21.875284    3987.000000
max        51.419258     359.179016  ...      62.882641    8499.000000

[8 rows x 27 columns]

# 2. Dataset in mongoDB - noSQL

## 2.1 Pre-process

### 2.1.1 Transform csv data to MongoDB

In [ ]:
# Define relative path to file
EDA_part01 = pd.read_csv('/content/<your file path>')


# remove useless columns
#data = data.drop('Unnamed:0', axis = 1)

# rename some columns
EDA_part01 = EDA_part01.rename(columns = {'1' : 'Fit', '0' : 'No Fit'})
EDA_part01.head(5)

In [ ]:
# check database dimensions
print('Examples:{}\nFeatures: {}'.format(EDA_part01.shape[0], EDA_part01.shape[1]))

In [ ]:
# convert dataframe to list of dictionaries
examples = EDA_part01.to_dict(orient = 'records')
examples[0]

### 2.1.2 Add dataset to mongoDB

In [ ]:
# records.insert_many((examples))

##could be done in Jupyter Notebook and Anaconda with my local machine
##or by changind NETWORK ACCESS: IP address from everywhere

## 2.2 Establish connection to MongoDB

### 2.2.1 Libraries and setup

In [1]:
import pymongo

# load mongoDB Client module
from pymongo import MongoClient

# Load other modules for data manipulation and computations
import pandas as pd
import numpy as np

In [59]:
# !pip install dnspython==2.0.0
# !pip install pymongo[srv]

### 2.2.2 Connect to mongoDB

In [52]:
import pymongo
import dns

# connection into application with MongoDB Client with User Credentials
client = pymongo.MongoClient("mongodb+srv://<username>:<password>@<cluster-path>.mongodb.net/<dbname>?retryWrites=true&w=majority")
db = client.test

In [53]:
# get a database of collections from MongoDB API
## connect to the database
db = client.get_database('<dbname>')

## connect to the collection
records = db['EDA_part01']

## check the connection
records

Collection(Database(MongoClient(host=['<MONGO CONEXION>')

In [60]:
# number of observations
records.count_documents({})

#OUTPUT: 191535 obs

191535

## 2.3 Convert collection from MongoDB to Dataframe

In [55]:
# Convert entire collection to Pandas dataframe
import pandas as pd

#exclude ID column
exclude_data = {'_id': False}

EDApart01 = pd.DataFrame(list(records.find(projection=exclude_data)))

In [57]:
# verify dimension of dataset
EDApart01.shape

# OUTPUT: 191535 rows and 30 columns

(191535, 30)

In [58]:
# verify dataset in dataframe
EDApart01.head()

   siteindex  ...  soil_order
0  27.914452  ...     Kurosol
1  27.615402  ...     Kurosol
2  27.474239  ...     Kurosol
3  27.193528  ...     Kurosol
4  27.879600  ...     Kurosol

[5 rows x 30 columns]

## 2.4 Queries in MongoDB

In [ ]:
  # find docs matching a giving criteria
  ##find a single doc in database
  search1 = records.find_one({'siteindex': 27.914452})
  print('{}\n'.format(search1))

{'_id': ObjectId('5f4f2954a994358c890c6e7f'), 'siteindex': 27.914452, 'aspect': 301.43875099999997, 'planCurvature': 0.002594, 'profileCurvature': 0.00016299999999999998, 'slope': 5.7795760000000005, 'TPI': -1.2042959999999998, 'TWI_SAGA': 8.033133, 'catchmentArea_SAGA': 2934.342773, 'SVF_simplified': 0.997453, 'Gh_total': 8.703231, 'Dh_diffuse': 1.359027, 'Ih_direct': 7.3442039999999995, 'DEMpart01_10m': 54.816718, 'distFromCoast': 5.945354, 'meanJanRain': 4.617585, 'meanJulRain': 111.93305, 'maxJanTemp': 24.504642, 'minJulTemp': 5.596158999999999, 'BDw': 1.0181209999999998, 'CLY': 12.715149, 'CFG': 1.777616, 'ECD': 0.621924, 'SOC': 3.2543189999999997, 'pHw': 5.66513, 'SND': 75.630202, 'SLT': 11.65465, 'RCODE': 7497, 'SYMBOL': 'Ts', 'DESCRIPT': 'Dominantly non-marine sequences of  gravel, sand, silt, clay and regolith.', 'soil_order': 'Kurosol'}

In [11]:
# find multiple documents in database
# SELECT * FROM records WHERE siteindex = >25 AND aspect < 300
search2 = records.find({'$and': [
                                 {'siteindex': {'$lt': 25}},
                                 {'aspect': {'$lt': 300}}
                                 ]
                      })

#extract the N example from the search database
N = 5
search2_5 = search2[N-1]

print('I found:{} Examples based on this criteria \n'.format(len(list(search2))))
print('The fifht one in the list is: \n{}'.format(search2_5))

I found:8149 Examples based on this criteria

The fifht one in the list is:
{'_id': ObjectId('5f4f2954a994358c890c6edf'), 'siteindex': 23.75146, 'aspect': 235.542454, 'planCurvature': 0.036437, 'profileCurvature': 0.0017850000000000001, 'slope': 10.098275, 'TPI': 1.204556, 'TWI_SAGA': 6.095308999999999, 'catchmentArea_SAGA': 424.37899000000004, 'SVF_simplified': 0.992185, 'Gh_total': 8.44037, 'Dh_diffuse': 1.356531, 'Ih_direct': 7.083838, 'DEMpart01_10m': 24.248814000000003, 'distFromCoast': 3.557601, 'meanJanRain': 3.586064, 'meanJulRain': 106.12951499999998, 'maxJanTemp': 24.555294, 'minJulTemp': 5.860599, 'BDw': 0.947845, 'CLY': 22.55808, 'CFG': 1.197609, 'ECD': 0.695099, 'SOC': 3.545699, 'pHw': 6.233383, 'SND': 45.640346, 'SLT': 31.801571999999997, 'RCODE': 7499, 'SYMBOL': 'Tb', 'DESCRIPT': 'Basalt (tholeiitic to alkalic) and related pyroclastic rocks.', 'soil_order': 'Kurosol'}

In [ ]:
# randomly selects the specified number of documents from it inputs
sample = records.find({ '$sample': { 19153 } })
sample

## 2.5 Data exploration

### 2.5.1 Descriptive Statistics

In [62]:
EDApart01.describe()

           siteindex         aspect  ...            SLT          RCODE
count  191535.000000  191535.000000  ...  191535.000000  191535.000000
mean       30.859954     176.311762  ...      17.896682    4429.032866
std         3.494284     100.367764  ...       7.135462    1227.508855
min         4.968135       0.468776  ...       0.000000    3489.000000
25%        28.701300      86.998100  ...      12.618612    3987.000000
50%        31.086996     184.070348  ...      17.808460    3987.000000
75%        33.351924     258.729503  ...      21.875284    3987.000000
max        51.419258     359.179016  ...      62.882641    8499.000000

[8 rows x 27 columns]